{% extends "base.html"%}
{% block content %}
<div class="row p-5">
    <div class="col">
        <h2 class="myhead2">About Us</h2>
<hr>
    </div>
    <div class="row text-justify" >
        <div class="col-sm-6">
    <p class="myhead2">The ever-changing social platform algorithms make it increasingly harder to generate engagement with your social media posts. By applying some simple writing tips, however, you can make your message more appealing to more people.

If you invest time, effort and money into posting on social media, I'm sure you want to get a good return on your investment. That return should see you meeting, or exceeding, the goals you've identified for each platform - but if you post without a social media strategy, which outlines how each platform will help you accomplish your business goals, many of your efforts will be wasted.

Having a social media strategy and action plan, based on your unique business goals, resources and available time, is essential to your success.

Yet even with a well laid out action plan, you still need to create social media posts and content that speak to your identified audience, and inspire them to take action.

In this post, I'll share seven social media content writing tips for creating posts that get the attention of your target audience, and inspire engagement.

</p>
            <ul class="myhead2">
                <li> YOU REACH LARGE AUDIENCES</li>
                <li>YOU HAVE A DIRECT CONNECTION WITH YOUR AUDIENCE</li>
                <li>YOU HAVE ACCESS TO PAID ADVERTISING SERVICES</li>
                <li>YOU DRIVE TRAFFIC TO YOUR WEBSITE</li>
                <li>YOU CAN EVALUATE YOUR PERFORMANCE</li>
                <li>YOU CAN JOIN SOCIAL MEDIA NETWORKS FOR FREE</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-4by3">

            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZcBBHxlH7-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </div>
    </div>

</div>

{% endblock %}

