{% extends "base.html"%}
{% block content %}
{% csrf_token %}
<div class="row p-5 text-justify">
    <div class="col-md-12">
        <h2 class="myhead2">E-Social</h2>
        <hr>
<form class="form-inline">
    <input class="form-control mr-3" placeholder="Search" value="{{request.GET.si}}" type="text" name="si">
    <input class="btn btn-dark" type="submit" value="Search">
</form>
        <div class="row">
              {% for n1 in mypost_list %}
            <div class="col-md-4 my-3">
                <div class="card text-center h-100">
    <img class="card-img-top img-fluid h-100    " src="/media/{{n1.pic}}" alt="">
    <div class="card-body">
        <h4 class="card-title">{{n1.subject}}</h4>
        <p class="card-text">{{n1.cr_date | date:"d/m/y"}}-{{n1.uploaded_by}}
            {%if n1.uploaded_by.pic%}
            <img style="width:50p; height:50px" class="rounded-circle"  src="/media/{{n1.uploaded_by.pic}}" alt="">
            {%endif%}
        </p>
        {%if n1.liked%}
        <a class="btn btn-danger btn-sm" href="/social/mypost/unlike/{{n1.id}}">UnLike</a>
        {%else%}
        <a class="btn btn-success btn-sm" href="/social/mypost/like/{{n1.id}}">Like</a>
        {%endif%}
        <a class="btn btn-dark btn-sm" href="/social/mypost/{{n1.id}}">Read More</a>
        {%if user.is_superuser%}
        <a class="btn btn-danger btn-sm" href="/social/mypost/delete/{{n1.id}}">Delete</a>
        {%endif%}
        {%if n1.likecount%}
        <span class="badge badge-info">Likes{{n1.likecount}}</span>
        {%endif%}


    </div>
</div>
            </div>
            {% endfor %}
        </div>




</div>
    </div>

{% endblock %}